<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517489539432-edegvea4146m0ct5ct79h77kru4k9gir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517489539432-edegvea4146m0ct5ct79h77kru4k9gir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517489539432-4561vhsm0nctsc44v0hnaa9uvsogteja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDApy0FXg8es0yBcyotw3LYy_JaHVARJSM</string>
	<key>GCM_SENDER_ID</key>
	<string>517489539432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tocandraw.tradeAgent</string>
	<key>PROJECT_ID</key>
	<string>trade-agent-87e47</string>
	<key>STORAGE_BUCKET</key>
	<string>trade-agent-87e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517489539432:ios:c7c9889764202e4a86bedd</string>
	<key>DATABASE_URL</key>
	<string>https://trade-agent-87e47-default-rtdb.asia-southeast1.firebasedatabase.app</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1617900048851450~5212154454</string>
</dict>
</plist>